.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.container form{
    padding:20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.4);
}

.box{
    width:80%;
}

.container table{
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.4);
}

.link-right{
    display: flex;
    justify-content: flex-end;
}